<% question = f.object.question %>
<h4><strong><%= question.content %></strong></h4>
<%= f.input :choice_id, collection: question.choices.pluck(:content, :id), as: :radio_buttons, label: false %>

<%= f.input :question_id, as: :hidden %>