<div class="row">
  <div class="col-sm-11" style="height: 100%; display: flex; justify-content: center; align-items: center; text-align: center;">  
    <h1 style="font-size: 2em;">Create a new survey</h1>
  </div>
  <div class="col-sm-1" style="height: 100%; display: flex; justify-content: center; align-items: center;">  
  	<%= link_to 'Back to index', surveys_path, class: "btn btn-primary", style: "margin: 0.8em 0.8em; font-size: 1.2em;" %>
  </div>
 </div>

 <%= render 'form' %>
